.navigation {
    width: 100%;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    transition: .3s;
}

.navbar-logo .logo {
    width: 55px;
    position: relative;
    transition: .3s;
}

.navbar-menu .menu {
    display: flex;
}

.navbar-menu .menu li {
    padding: 0 0 0 8px;
}

.navbar-menu .menu li a {
    position: relative;
    padding: 5px 10px;
    font-size: var(--font-16px);
    color: var(--color-light);
    font-weight: 600;
    text-transform: capitalize;
    transition: .3s;
}

.navbar-menu .menu li a:hover {
    color: var(--color-dark-turquoise);
    transition: .3s;
}

.navbar-menu .menu li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    background: var(--color-dark-turquoise);
    height: 1px;
    transition: .4s;
}

.navbar-menu .menu li a:hover:after {
    transition: .4s;
    width: 90%;
}

.navigation.sticky {
    background: var(--color-smoky-black);
    transition: .3s;
    z-index: 1;
    box-shadow: 0 0 20px 0.01rem rgba(10, 10, 10, .3);
}

.navigation.sticky .navbar .navbar-logo .logo {
    width: 50px;
    color: var(--color-smoky-black);
    transition: .3s;
}

.menu-toggle {
    cursor: pointer;
    display: none;
    margin-right: 25px;
}

.menu-toggle div {
    width: var(--font-32px);
    height: 3px;
    margin: 6px 0;
    border-radius: 2px;
    background-color: var(--color-light);
    transition: .3s;
}

.menu-toggle .toggle-two {
    width: var(--font-24px);
}

.menu-toggle .toggle-three {
    width: var(--font-16px);
}

.menu-toggle:hover div {
    transition: .2s;
}

.menu-toggle:hover .toggle-one {
    transition: .2s;
    margin-left: 100;
    transform: scale(1);
}

.menu-toggle:hover .toggle-two {
    transition: .3s;
    width: 32px;
    transform: scale(1);
}

.menu-toggle:hover .toggle-three {
    transition: .4s;
    width: 32px;
    transform: scale(1);
}

@media screen and (max-width: 968px) {
    .navbar-logo {
        padding: 0 15px;
    }
    .navbar-logo .logo {
        width: 45px;
    }
    .navbar-menu {
        display: none;
    }
    .navigation.sticky .navbar .navbar-logo .logo {
        width: 40px;
    }
    .menu-toggle {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .navbar-logo {
        padding: 0 15px;
    }
    .navbar-logo .logo {
        width: 40px;
    }
    .navigation.sticky .navbar .navbar-logo .logo {
        width: 35px;
    }
}