.portfolio {
    padding: 100px 0;
}

.content-portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-title {
    padding-bottom: var(--font-104px);
}

.portfolio-title .title {
    font-size: var(--font-40px);
    font-weight: 700;
    color: var(--color-light);
    text-transform: lowercase;
}

.portfolio-title .subtitle {
    font-size: 20px;
    color: var(--color-outer-space);
    font-weight: 400;
    text-transform: lowercase;
    letter-spacing: 4px;
    text-align: center;
    padding-bottom: var(--font-18px);
}

.image-gallery {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr 1fr" 50vh "1fr 1fr 1fr" 50vh "1fr 1fr 1fr" 50vh;
}

.image-gallery .gallery.image-1, .image-gallery .gallery.image-3, .image-gallery .gallery.image-4 {
    grid-row: span 2;
}

.image-gallery .gallery {
    position: relative;
}

.image-gallery .gallery .image-box .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.image-gallery .gallery .info-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: .5s;
}

.image-gallery .gallery .info-box:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: .5s;
}

.image-gallery .gallery .info-box .info h2 {
    font-size: var(--font-32px);
    font-weight: 700;
    color: var(--color-light);
}

.image-gallery .gallery .info-box .info p {
    font-size: var(--font-18px);
    color: var(--color-glitter);
    margin-bottom: 32px;
}

.image-gallery .gallery .info-box .info a {
    font-size: var(--font-18px);
    border: 2px solid var(--color-light);
    padding: 10px 18px;
    font-weight: 500;
    color: var(--color-light);
    transition: all .3s;
}

.image-gallery .gallery .info-box .info a:hover {
    box-shadow: inset 0 50px 0px 0 rgba(254, 254, 254, 1), 0 0 50px 0 rgba(254, 254, 254, .2);
    color: var(--color-smoky-black);
    transition: all .3s;
}

@media screen and (max-width: 968px) {
    .image-gallery {
        grid-gap: 0;
        grid-template: "1fr 1fr 1fr" 50vh "1fr 1fr 1fr" 50vh;
    }
    .image-gallery .gallery.image-1, .image-gallery .gallery.image-3, .image-gallery .gallery.image-4 {
        grid-row: span 1;
    }
    .image-gallery .gallery .info-box .info h2 {
        font-size: var(--font-24px);
        font-weight: 700;
        color: var(--color-light);
    }
    .image-gallery .gallery .info-box .info p {
        font-size: var(--font-16px);
        color: var(--color-light);
        margin-bottom: 32px;
    }
    .image-gallery .gallery .info-box .info a {
        font-size: var(--font-18px);
        background: var(--color-light);
        padding: 8px 15px;
        color: var(--color-smoky-black);
    }
    .image-gallery .gallery .info-box .info a:hover {
        color: var(--color-smoky-black);
    }
}

@media screen and (max-width: 576px) {
    .portfolio {
        padding: var(--font-88px) 0;
    }
    .portfolio-title .title {
        font-size: var(--font-32px);
    }
    .portfolio-title .subtitle {
        font-size: var(--font-18px);
    }
    .image-gallery {
        grid-gap: 0;
        grid-template: "2fr" 50vh "2fr" 50vh "2fr" 50vh "2fr" 50vh "2fr" 50vh "2fr" 50vh;
    }
    .image-gallery .gallery.image-1, .image-gallery .gallery.image-3, .image-gallery .gallery.image-4 {
        grid-row: span 1;
    }
    .image-gallery .gallery .info-box .info h2 {
        font-size: var(--font-24px);
        font-weight: 700;
        color: var(--color-light);
    }
    .image-gallery .gallery .info-box .info p {
        font-size: var(--font-16px);
        color: var(--color-light);
        margin-bottom: 32px;
    }
    .info-box .info a {
        font-size: var(--font-18px);
        background: var(--color-light);
        padding: 8px 15px;
        color: var(--color-smoky-black);
    }
    .info-box .info a:hover {
        color: var(--color-smoky-black);
    }
}