.services {
    padding: 100px 0;
}

.content-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-title {
    text-align: center;
    padding-bottom: var(--font-112px);
    width: 100%;
}

.services-title .title {
    font-size: var(--font-40px);
    color: var(--color-light);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.services-title .subtitle {
    font-size: 20px;
    color: var(--color-outer-space);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: var(--font-18px);
}

.services-card {
    width: 100%;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    color: var(--color-glitter);
}

.services-card .card {
    padding: 56px 24px;
    font-size: 20px;
    text-align: center;
    border-radius: 5%;
    border: 1px solid var(--color-dark-turquoise);
    transition: .3s ease;
}

.services-card .card .card-icons {
    margin-bottom: var(--font-32px);
    width: 100%;
    display: flex;
    justify-content: center;
}

.services-card .card .card-icons .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding: 20px;
    border-radius: 50%;
    background: var(--color-dark-turquoise);
    transition: .5s;
}

.services-card .card .card-icons i {
    font-size: var(--font-40px);
    color: var(--color-smoky-black);
}

.services-card .card .description h3 {
    position: relative;
    font-size: var(--font-16px);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.services-card .card .description h3::after {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    content: '';
    width: 30px;
    height: 2px;
    background: var(--color-dark-turquoise);
    margin: 0 auto;
    transition: .3s;
}

.services-card .card:hover {
    background: var(--color-dark-turquoise);
    color: var(--color-smoky-black);
    transition: .3s ease;
    transform: scale(1.05);
}

.services-card .card:hover .card-icons .icon {
    background: var(--color-smoky-black);
    transition: .3s;
    transform: scale(0.8);
}

.services-card .card:hover .card-icons .icon i {
    color: var(--color-dark-turquoise);
}

.services-card .card:hover .description h3::after {
    width: 50px;
    background: var(--color-smoky-black);
    transition: .3s;
}

.services-card .card .description p {
    font-size: var(--font-18px);
}

@media screen and (max-width: 968px) {
    .services-card {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px;
        color: var(--color-glitter);
        padding: var(--font-22px);
    }
    .services-title .title {
        font-size: var(--font-40px);
    }
    .services-title .subtitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .services-card {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px;
        color: var(--color-glitter);
        padding: var(--font-22px);
    }
}

@media screen and (max-width: 576px) {
    .services {
        padding: var(--font-88px) 0;
    }
    .services-card {
        width: 100%;
    }
    .services-title {
        padding: 0;
    }
    .services-title .title {
        font-size: var(--font-32px);
        margin-bottom: var(--font-40px);
    }
    .services-title .subtitle {
        font-size: var(--font-18px);
    }
    .services-card {
        display: flex;
        flex-direction: column;
        padding: var(--font-22px);
    }
    .services-card .card {
        margin-top: var(--font-48px);
    }
    .services-card .card .description h3 {
        font-size: var(--font-18px);
        margin-bottom: 2rem;
    }
    .services-card .card .description p {
        margin-top: 2.5rem;
        font-size: 17px;
    }
}