.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--color-smoky-black);
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidenav li a {
  padding: 8px 0;
  font-size: 20px;
  color: var(--color-dark-turquoise);
  display: block;
  text-transform: lowercase;
  transition: .2s;
}

.sidenav li a:hover {
  color: var(--color-contrast);
  transition: .2s;
  transform: scale(1.2);
  font-weight: 700;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: var(--font-24px);
  font-size: var(--font-40px);
  margin-top: 20px;
  padding: 0 20px;
  background: var(--color-onyx);
  border-radius: 30%;
  color: var(--color-dark-turquoise);
  transition: .5s;
}

.sidenav .closebtn:hover {
  color: var(--color-contrast);
  transform: rotate(90deg);
  transition: .5s;
}

#main {
  transition: margin-left .5s;
  padding: var(--font-24px);
}

@media screen and (max-height: 768px) {
  
  .sidenav li a {
    font-size: var(--font-18px);
    font-weight: 700;
  }
}
