.content-wrapper {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-title {
    text-align: center;
    margin-top: 100px;
}

.content-title .title {
    display: flex;
    justify-content: center;
    font-size: var(--font-64px);
    color: var(--color-light);
    line-height: 90px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 4px;
}

.content-title .legend {
    font-size: var(--font-32px);
    color: var(--color-outer-space);
    font-weight: 700;
    line-height: 54px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.content-title .legend .legend-color {
    font-size: var(--font-32px);
    color: var(--color-dark-turquoise);
    font-weight: 700;
}

.content-title .legend .legend-color::after {
    content: " | ";
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.content-title .subtitle {
    font-size: var(--font-16px);
    color: var(--color-dark-turquoise);
    line-height: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content-button .button {
    padding: 15px 30px;
    background: transparent;
    border: 2px solid var(--color-dark-turquoise);
    border-radius: 10px;
    color: var(--color-dark-turquoise);
    font-size: var(--font-16px);
    line-height: 150px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: .5s;
}

.content-button .button:hover {
    box-shadow: inset 0 60px 0px 0 var(--color-dark-turquoise), 0 0 50px 0 rgba(8, 253, 216, .1);
    color: var(--color-smoky-black);
    transition: .3s;
}

@keyframes scroll {
    0% {
        transform: translate(0px, -18px);
    }
    50% {
        transform: translate(0px, -25px);
    }
    100% {
        transform: translate(0px, -18px);
    }
}

/* @-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0px, -5px);
    }
    50% {
        -moz-transform: translate(0px, 8px);
    }
    100% {
        -moz-transform: translate(0px, -5px);
    }
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0px, -5px);
    }
    50% {
        -webkit-transform: translate(0px, 8px);
    }
    100% {
        -webkit-transform: translate(0px, -5px);
    }
}

@-o-keyframes scroll {
    0% {
        -o-transform: translate(0px, -5px);
    }
    50% {
        -o-transform: translate(0px, 8px);
    }
    100% {
        -o-transform: translate(0px, -5px);
    }
}

@-ms-keyframes scroll {
    0% {
        -ms-transform: translate(0px, -5px);
    }
    50% {
        -ms-transform: translate(0px, 8px);
    }
    100% {
        -ms-transform: translate(0px, -5px);
    }
} */

.wrapper-arrow {
    padding: 32px 20px;
    margin-top: 20px;
    background: var(--color-dark-turquoise);
    border-radius: 20px;
}

.wrapper-arrow span::after {
    content: " ' ";
    position: absolute;
    margin-left: -2px;
    font-size: var(--font-28px);
    animation: scroll 2s infinite;
    color: var(--color-smoky-black);
    font-weight: bold;
}

/* .wrapper-arrow i {
    font-size: var(--font-28px);
    animation: scroll 2s infinite;
    color: var(--color-smoky-black);
} */

@media screen and (max-width: 968px) {
    .content-title .title {
        font-size: var(--font-56px);
    }
    .content-title .legend {
        font-size: var(--font-24px);
    }
    .content-title .subtitle {
        font-size: var(--font-18px);
    }
}

@media screen and (max-width: 576px) {
    .content-title {
        padding: 0 10px;
    }
    .content-title>.title {
        font-size: var(--font-48px);
        line-height: 72px;
    }
    .content-title>.legend {
        font-size: var(--font-22px);
        line-height: var(--font-56px);
    }
    .content-title>.legend>.legend-color {
        font-size: var(--font-22px);
    }
    .content-title>.subtitle {
        font-size: var(--font-16px);
        line-height: var(--font-42px);
    }
}